<a href="https://colab.research.google.com/github/Ken-Lau-Lab/single-cell-lectures/blob/main/section02_AnnData_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## __Section 2:__ Introduction to AnnData

February 15, 2022

In [2]:
#Import statements
import pandas as pd #import pandas and assign the variable 'pd' to access it
import scanpy as sc #import scanpy and assign the variable 'sc' to access it

In [3]:
data = sc.read_h5ad("data/Example_Data.h5ad") #use the scanpy function 'read_h5ad' to read the .h5ad file as denoted in the quotes, then assign it to the variable "data"

In [4]:
type(data) #ask python what type/class this object is

anndata._core.anndata.AnnData

In [5]:
data #return some general information about this AnnData object

AnnData object with n_obs × n_vars = 20 × 20

In [6]:
data.obs #access the 'obs' or observations attribute of the anndata object named 'data', this returns the identifiers for each single-cell barcode (only 20 cells here)

Empty DataFrame
Columns: []
Index: [BC1, BC2, BC3, BC4, BC5, BC6, BC7, BC8, BC9, BC10, BC11, BC12, BC13, BC14, BC15, BC16, BC17, BC18, BC19, BC20]

In [7]:
data.var  #access the 'var' or variables attribute of the anndata object named 'data', this returns the genes or features of each transcriptome (only 20 genes here)

Empty DataFrame
Columns: []
Index: [GENE1, GENE2, GENE3, GENE4, GENE5, GENE6, GENE7, GENE8, GENE9, GENE10, GENE11, GENE12, GENE13, GENE14, GENE15, GENE16, GENE17, GENE18, GENE19, GENE20]

In [8]:
data.obs[:5] #access just the first 5 'obs' or observations attribute of the anndata object named 'data'

Empty DataFrame
Columns: []
Index: [BC1, BC2, BC3, BC4, BC5]

In [20]:
data.obs[4:6] data.obs[:5] #access just the 4th through 6th 'obs' or observations attribute of the anndata object named 'data', in this case, the first limit of the range is non-inclusive

Empty DataFrame
Columns: []
Index: [BC5, BC6]

In [18]:
data.var[:5] #access just the first 5 'var' or variable attribute of the anndata object named 'data', since obs and var are both pandas dataframes, they can be subset in the same way

Empty DataFrame
Columns: []
Index: [GENE1, GENE2, GENE3, GENE4, GENE5]

In [9]:
data[:5] #similar to subsetting pandas dataframes, AnnData objects can be subset as well, to produce temporary 'views' representing subsets of the data, here we pick the first 5 barcodes and their associated counts

View of AnnData object with n_obs × n_vars = 5 × 20

In [22]:
data[4:6] #like retrieving the 4th through the 6th 'obs', we can do the same operation on the AnnData object itself, and its attributes are subset respectively

View of AnnData object with n_obs × n_vars = 2 × 20

In [23]:
data[4:6].obs #this is equivalent to data.obs[4:6]

Empty DataFrameView
Columns: []
Index: [BC5, BC6]

In [26]:
data.var_vector("BC1") #to retrieve all numerical values associated with barcode 1, use the .var_vector method, which returns a 20-length array representing count values of all genes associated with the barcode 'BC1'

array([ 8.,  0.,  0.,  0., 71.,  0., 16.,  0.,  0.,  0., 52., 27., 98.,
        0., 49., 55., 73., 84.,  3., 95.], dtype=float32)

In [25]:
data.obs_vector("GENE5") #to retrieve all numerical values associated with gene 5, use the .obs_vector method, which returns a 20-length array representing count values of all cells associated with the gene 'GENE5'

array([74., 72.,  0.,  0., 71.,  0., 73.,  0.,  0., 83.,  0.,  0., 93.,
        0.,  2., 86.,  0., 94.,  0., 93.], dtype=float32)