<a href="https://colab.research.google.com/github/Ken-Lau-Lab/single-cell-lectures/blob/main/section02_AnnData_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## __Section 2:__ Introduction to AnnData

February 15, 2022

In [1]:
#Import statements
import pandas as pd #import pandas and assign the variable 'pd' to access it
import scanpy as sc #import scanpy and assign the variable 'sc' to access it

In [8]:
data = sc.read_h5ad("Example_Data.h5ad") #use the scanpy function 'read_h5ad' to read the .h5ad file as denoted in the quotes, then assign it to the variable "data"

In [10]:
type(data) #ask python what type/class this object is

anndata._core.anndata.AnnData

In [9]:
data #return some general information about this AnnData object

AnnData object with n_obs × n_vars = 20 × 20

In [11]:
data.obs #access the 'obs' or observations attribute of the anndata object named 'data', this returns the identifiers for each single-cell barcode (only 20 cells here)

Empty DataFrame
Columns: []
Index: [BC1, BC2, BC3, BC4, BC5, BC6, BC7, BC8, BC9, BC10, BC11, BC12, BC13, BC14, BC15, BC16, BC17, BC18, BC19, BC20]

In [12]:
data.var  #access the 'var' or variables attribute of the anndata object named 'data', this returns the genes or features of each transcriptome (only 20 genes here)

Empty DataFrame
Columns: []
Index: [GENE1, GENE2, GENE3, GENE4, GENE5, GENE6, GENE7, GENE8, GENE9, GENE10, GENE11, GENE12, GENE13, GENE14, GENE15, GENE16, GENE17, GENE18, GENE19, GENE20]